.link {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 1.1em;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.link:hover {
    background-color: #34495e;
}

.active {
    background-color: #16a085;
}